<launch>
  <!-- car_data_association_node_v2.py -->
  <node pkg="nmpc_ros" type="car_data_association_node_v2_2.py" name="car_data_association_node_v2_2" output="screen">
    <!-- Parametri privati del nodo -->
    <param name="gps_source" type="string" value="topic" />
    <param name="gps_topic" type="string" value="/gps_data" />
    <param name="car_map_source" type="string" value="file" />
    <param name="car_map_file" type="string" value="/home/andre/esperimento_parcheggio_ws/src/agri_neural_mpc/ros/src/nmpc_ros/niccolo/map_results/car_map_final.json" />
    <param name="rgb_topic" type="string" value="/camera/color/image_raw" />
    <param name="depth_topic" type="string" value="/camera/aligned_depth_to_color/image_raw" />
    <param name="side" type="string" value="left" />
  </node>

  <!-- GPSrtk_node.py -->
  <node pkg="nmpc_ros" type="GPSrtk_node.py" name="GPSrtk_node" output="screen" />

  <!-- RealSense Camera (Incluso tramite file .launch esterno) -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true" />
  </include>
</launch>